* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}
header {
    display: felx;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: linear-gradient(#1e892e, #ffffff);
}
.logo {
    height: 60px;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 10px;
}
input, textarea, button {
    padding: 10px;
    font-size: 1rem;
}